canvas {
    border-style: solid;
    border-width: 1px;
}

img {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.row {
    display: flex;
    width: 800px;
}

.col {
    margin-left: 20%;
    flex: 0 1 20%;
}